body {
  background-color: #BDCEBE;
}
h1 {
  color: #01937C;
}
h3{
  color: #01937C;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}
